<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
      
        <%= csrf_meta_tags %>
  
        <%= render 'layouts/stylesheet' %>

    </head>
    <body>
        <div class="container">

            <%= render 'pages/header' %>
            
            <section class="round">
                <%= yield %>
            </section>
        
            <%= render 'pages/footer' %>

        </div>

    </body>
</html>
