<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <p>
            <h3><center><b>Rails version: </b><%= Rails.version %></center></h3>
        <p>
      
        <%= csrf_meta_tags %>
  
        <%= render 'layouts/stylesheet' %>

    </head>
    <body>
        <div class="container">

            <%= render 'shared/header' %>
            
            <section class="round">
                <%= yield %>
            </section>
        
            <%= render 'shared/footer' %>


            <%= debug(params) if Rails.env.development? %>

        </div>

    </body>
</html>
